<a href="https://colab.research.google.com/github/SandraOliver/PrimeiroProjeto/blob/master/Python_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Um pouco sobre a história da computação.

## O que é programação?

## O que é um programa de computador?

## O que é um algoritmo?

### ***`Esse é um editor de textos`***

# Python
### Aplicações python
### Ambientes de programação python

# Exibição de informação no console, print( )

In [ ]:
print("Hello Word")
print("Este é o meu segundo print")
print("Oi, meu nome é Danilo")

Hello Word
Este é o meu segundo print
Oi, meu nome é Danilo

# Tipos de dados em Python e a função type( )

In [ ]:
# print(type(27)) # O tipo de dados do número 27 é int(numero inteiro)
# print(type(5.7)) # O tipo de dados do número 5.7 é float(numero decimal)
# print(type(5.7 + 27j)) # O tipo de dados do número 5.7 é complex (numero coplex)
# print(type("Danilo")) # O tipo de dados do nome Danilo é str(´)
# print(type(False)) # tipo booleano, valores lógico, para Verdadeiro (True) e para Falso (False)


# Tipos de dados númericos em python
print(type(7)) # Numero inteiro
print(type(7.5)) # Numero Fracionado, numero decimal
print(type(5 + 2j))  # Numero Complexo



# Tipo de dados booleano
print(type(False))

# Tipo de dados textual 
print(type('"Danilo"'))

nome = " Danilo de Souza Miguel"
print(nome)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
 Danilo de Souza Miguel

# Variáveis

In [ ]:
nome_usuario = "Danilo de Souza Miguel \n" # Variável nome_usuario recebe o valor Danilo
idade = 35 # Variável numero recebe o valor 20
altura = 1.80  # Variável fracao recebe o valor 8.5
professor = False # Variável aberto recebe o valor True
print(nome_usuario, idade, altura, professor) # print das variáveis criadas

Danilo de Souza Miguel
 35 1.8 False

#Concatenação e conversão de tipos de variáveis

In [ ]:
primeiro_nome  = "Danilo "
sobrenome = "Miguel "
idade = 35
teste_variavel = None 

print(teste_variavel)
print(primeiro_nome, sobrenome, idade)# print normal
print(primeiro_nome + sobrenome + str(idade)) # Conversão de tipo
# print(primeiro_nome + sobrenome + idade)# Não podemos concatenar inteiros junto a Strings

None
Danilo  Miguel  35
Danilo Miguel 35

# Quem é voce?  Crie uma variável para cada dado e conte quem você, usando concatenação e conversão de dados.  Nome, Sobrenome, idade, altura

In [ ]:
primeiro_nome  = "Danilo "
sobrenome = "Miguel "
idade = 35
altura = 1.80

print("Meu nome é " + Sandra + "e meu sobrenome " + Regina + "tenho " + str(50) + "anos " + "e minha altura é " + str(1.70)) 

print("Meu nome é "primeiro_nome, "e meu sobrenome", sobrenome, " e minha idade é ", idade)# print normal

# primeiro_numero = "20"
# segundo_numero = "21"
# print(primeiro_numero + " " +segundo_numero)  # Concatenação das variáveis primeiro_nome e segundo_nome
# print(primeiro_numero, segundo_numero)

# nome  = input("Digite seu nome")
# sobrenome = "Miguel"
# idade = 35

# print(type(idade))

print(nome, sobrenome, idade)
print ("Oi meu nome é: " + nome + " " + sobrenome + " minha idade é 35")
print ("Oi meu nome é: " + nome + " e minha idade é " + str(idade))  # Conversão da variável idade(int) para str
print ("Oi meu nome é: ",nome, " e minha idade é",idade, "teste" )

print(type(idade))       
print(type(str(idade)))   # resulta STR


print(type(idade))

str()

numero_inteiro = 100
numero  = float(numero_inteiro) # Conversão da variável numero_inteiro(int) para float

print(numero_inteiro, numero)

teste_conversao = "45."
teste_conversao_string = float(teste_conversao)
print(teste_conversao)
print(teste_conversao_string)

numero_complexo_string ="1+5j"
string_teste = "j"
convert_complex = complex(string_teste)
numero_complexo = complex(numero_complexo_string)

Meu nome é Danilo e meu sobrenome Miguel tenho 35anos e minha altura é 1.8
Danilo Miguel  35
Oi meu nome é: Danilo Miguel  minha idade é 35
Oi meu nome é: Danilo e minha idade é 35
Oi meu nome é:  Danilo  e minha idade é 35 teste
<class 'int'>
<class 'str'>
<class 'int'>
100 100.0
45.
45.0

# Desafio: 
##Quem é você? Imprima seu nome, sua idade e qual será sua idade no próximo ano.

In [ ]:
idade = 35
nome = "Danilo"
print("Meu nome é" + " " + nome + " minha idade é " + str(idade) + " e ano q vem minha idade sera " + str(idade + 1))

Meu nome é Danilo minha idade é 35 e ano q vem minha idade sera 36

# Operação com boleanos

In [ ]:

True + 4 * True

5

#Desafio: 
## Entre com o valor da conta de um restaurante e calcule a gorjeta do garçom, nesse restaurante a gorjeta do garçom é de 10 por cento.

In [ ]:
valor_da_conta = float(input("Insira o valor da conta "))
gorjeta = valor_da_conta * 0.10
print(gorjeta)

Insira o valor da conta 500
500.0
50.0

# Manipulação de Strings

In [ ]:
teste =  "Primeiro Teste"
segundo_teste = "Este é outro teste"
numero = "54.5"








type(teste) # Tipo de dados da variável
len(teste) # Tamanho da variável
sub = teste.replace(teste, "Miguel") # Substituição do valor da variável

print(teste.replace(teste, "Miguel"))
print(teste.replace(teste, "52"))
print(teste.replace(teste, str(52)))
print(numero.replace(numero, str(54.5)))


print(sub) # Concatenação


numero = 54.5
conv = str(numero)

print(conv.replace(".", ","))

Miguel
52
52
54.5
Miguel
54,5

# Operadores

### Operadores aritméticos

In [ ]:
print (5 + 5) # soma
print (85 - 72) # subtração
print (8 * 7) # multiplicação
print (56 / 12) # divisão

print(4 ** 4) # Potenciação
print(5 // 2) # Retorna sempre um numero inteiro
print(6 % 2 ) # Retorna o resto da divisão

import math
numero = 9
print(math.sqrt(numero))

help(input)

10
13
56
4.666666666666667
256
2
0
3.0
Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

### Operadores de atribuição

In [ ]:
 a = 1
 b  = 10
 c = 15
 d = 20
 e = 50
 a += 5  # a = a + 1
 b -= 1  # b = b - 1
 c *= 1  # x = c * 1
 d /= 1  # x = d / 1
 e %= 1  # x = e % 1

 print(a)
 print(b)
 print(c)
 print(d)
 print(e)

6
9
15
20.0
0

#  Operadores de comparação

In [ ]:
print(7 == 7) # (==) Representa igualdade
print(2.5 == 2.5)
print("texto" == "texto")

A = "(1 > 2)"
print("Valore de A:", A) 

print( 10 > 9) # Verifica se numero da esquerda é maior ao número da direita
print( 8 < 9) # Verifica se numero da esquerda é menor ao número da direita

print( 10 >= 9) # Verifica se numero da esquerda é maior ou igual ao número da direita
print( 7 <= 9) # Verifica se numero da esquerda é menor ou igual  ao número da direita

print( 7 != 9) # Verifica se numero da esquerda é menor ou igual  ao número da direita

True
True
True
Valore de A: (1 > 2)
True
True
True
True
True

# Entendendo o que são os comentários de última/várias linhas

In [ ]:
# Esse é um comentario de uma linha
# Outro comentário
''' Esse é um comentario de uma linha '''

' Esse é um comentario de uma linha '

# Exibindo valores númericos formatados

In [ ]:
medida_polegada = float(input("Informe a medida em polegada: "))
medida_centimetro = medida_polegada * 2.54
saida = "A saida " + str(medida_polegada) + "polegadas em centimetros é: " + str(medida_centimetro) # Não é possivel concatener valores númericos
print(f" A medida de {medida_polegada} polegadas em centimetro e:{medida_centimetro:.2f} ")
print(saida)

Informe a medida em polegada: 50
 A medida de 50.0 polegadas em centimetro e:127.00
A saida 50.0polegadas em centimetros é: 127.0

# Formatação de blocos e indentação

In [ ]:
print("Primeiro nível de indentação")#primeiro nível 

if(True):
  print("Segundo nível de indentação")#segundo nível

# A identação se aplica com 2 espaços ou um tab

Primeiro nível de indentação
Segundo nível de indentação

# Importando bibliotecas - Trabalhando com data e hora

In [ ]:
from math import sqrt
print(sqrt(25))

from datetime import datetime
from datetime import date
from dateutil import tz


data_hj = date(year=2021, month=8, day=25)
print(data_hj)
 

print(datetime.today()) # Data atual
print(datetime.now().isoformat()) # Data atual

print(datetime.today().strftime('%Y-%d-%m'))# Alterando o formato da data
print(datetime.today().strftime('%Y-%m-%d %H:%M')) # Tirando os milesegundos
print(datetime.today().strftime('%A, %B %d, %Y %H:%M:%S'))# Incluindo os dias da semana 
print(datetime.today(), tz.tzlocal()) # Data atual

5.0
2021-08-25
2021-08-25 01:47:46.469136
2021-08-25T01:47:46.469217
2021-25-08
2021-08-25 01:47
Wednesday, August 25, 2021 01:47:46
2021-08-25 01:47:46.469639 tzlocal()

# Números formatados

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta = "A gorjeta do garçom"

# Gorjeta ="A gorjeta do garçom é " +  (porcentagem) * (valor_conta) # Errado
print(Gorjeta)

# Primeira solução
Gorjeta ="A gorjeta do garçom é " +  str((porcentagem) * (valor_conta))
print(Gorjeta, "Conversão de tipos")


# print("A gorjeta do garçom é" (porcetagem) * (valor_conta))

porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem + valor_conta
print (Gorjeta1)

# print (f"{Gorjeta}")

# print(type(Gorjeta))

A gorjeta do garçom
A gorjeta do garçom é 50.0 Conversão de tipos
500.1

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem * valor_conta
print (Gorjeta1)

50.0

# Lista

In [ ]:
frutas = ["maça", "Banana", "Abacate", "Uva"]
print(frutas)
print(type(frutas))
print(len(frutas))

frutas[3] = "Manga" # Alterando valor do elemento na lista
print(frutas)

frutas.append("Laranja") # Inserindo novo elemento na lista
frutas.append(" ") # Inserindo novo elemento na lista

print(frutas)

frutas.insert(0, "Morango")#Inserindo novo elemento na lista utlizando insert()
print(frutas)

frutas.remove("Morango") # Remove informando o parametro
print(frutas)

frutas.pop(1)
print(frutas)

numeros = [7,1,5,3,4, True, "Texto", ["elemento1", "elemento2"]]
frutas.sort()
print(frutas)

numeros[7].insert(2,"elemento3")

print(numeros)

print(len(frutas))

['maça', 'Banana', 'Abacate', 'Uva']
<class 'list'>
4
['maça', 'Banana', 'Abacate', 'Manga']
['maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['Morango', 'maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['maça', 'Abacate', 'Manga', 'Laranja', ' ']
[' ', 'Abacate', 'Laranja', 'Manga', 'maça']
[7, 1, 5, 3, 4, True, 'Texto', ['elemento1', 'elemento2', 'elemento3']]
5

# Dicionário

In [ ]:
dicionario = {'nome':'Danilo', 'idade': 35, 'altura': 1.80} # Criação do dicionário
dicionario1 = {'feira':['banana', 'maça', 'uva'], 'nome': 'Danilo'}
lista = ["Danilo", 35, 1,80] 
dicionario['cpf'] = 40454545 # Adicionando um novo item
dicionario.pop('altura', None) # Remoção
print(dicionario)
print(dicionario1)
print(dicionario['nome'], dicionario['cpf'] )

{'nome': 'Danilo', 'idade': 35, 'cpf': 40454545}
{'feira': ['banana', 'maça', 'uva'], 'nome': 'Danilo'}
Danilo 40454545

# Laços, repetição e operadores condicionais

In [ ]:
idade = int(input("Digitea sua idade: \n"))
amigo = str(input("Voce amigo do dono: \n"))
if idade > 18 or amigo == "Sim":
  print("Pode entrar")
# elif amigo == "Sim":
#   print("Pode entrar")
else:
  print("Va para casa")

Digitea sua idade:
15
Voce amigo do dono:
Sim
Pode entrar

## Enquanto

In [ ]:
numero = 50
while numero > 10:
  print(numero)
  numero =  numero - 10
print("Pode parar")

50
40
30
20
Pode parar

# Para cada

In [ ]:
lista = [1,2,3,4]
i = 1
while i < len(lista):
  lista[i] = lista[i] + 2
  i = i + 1
print(lista)

lista2 = []
for item in lista:
  lista2.append(item + 1)
print(lista2)

[1, 4, 5, 6]
[2, 5, 6, 7]

### Exercicio
Dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,99    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,68|	27,5%|

# Funções

In [ ]:
def hello(meu_nome):
  print("Ola meu nome é:", meu_nome)

hello("Fabio")  

def calcular_gorjeta(valor_conta, porcentagem):
  gorjeta = valor_conta * porcentagem
  return gorjeta

calcular_gorjeta(590, 0.1)

Ola meu nome é: Fabio

59.0